* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
}

.header {
    background-color: #1F2937; 
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}

.header h1 {
    font-size: 24px;
    color:#F9FAF8;
}
 
ul {
     list-style: none;
     display: flex;
     gap: 10px;
 }
 
a:link {
     text-decoration: none;
     color: #F9FAF8;
}
 
a:visited {
     text-decoration: none;
     color: #F9FAF8;
}
 
a:hover {
     text-decoration: none;
     color: #3882F6;
}

.content1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 100px;

}

.content1-left {
    flex-direction: column;
    width: 500px;
    margin: 0%;
    flex-shrink: 1;
}

.content1-left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0%;
}

.content1-left p {
    margin:0%;
    font-size: 18px;
    color: #E5E7EB;
}

.content1-left button {
    align-self: flex-start;
    background-color: #3882F6;
    font-size: 18px;
    color:#E5E7EB;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.content1-right {
    margin: 0%;
}

.content1-right img{
    width: 600px;
    height: 200px;
    margin: 0%;
    border-radius: 8px;
}
